version: "3.3"

services:
  api:
    build: .
    env_file:
      - .env
    environment:
      NODE_ENV: production
    networks:
      - web
    labels:
      - traefik.frontend.rule=Host:bidart.wilders.dev;PathPrefixStrip:/c_clicker
      - traefik.enable=true
      - traefik.backend=c_click
      - traefik.docker.network=web
      - traefik.port=4000
    # volumes:
    #   - appdata:/src
  db:
    image: postgres
    env_file:
      - .env
    networks:
      - web
    volumes:
      - pgdata:/var/lib/postgresql/data

networks:
  web:
    external: true

volumes:
  pgdata:
  # appdata:
